---
title: ニュース
---

<% data.news.articles.each do |article| %>
  <% if current_path.gsub('-', '.').include?(article[:date]) %>
    <article class="news">
      <h2><%= article[:title] %>（<%= article[:date] %>）</h2>
      <p><%= article[:content] %></p>
    </article>
  <% end %>
<% end %>

