body {
  background-color: $base-bg;
  margin: 0;
  color: #666666;
}

header,
footer {
  color: $white;
  background-color: $nitac-official;
  width: 100%;
}

header {
  top: 0;
  position: absolute;
  padding: 10px;
  height: $header-height;

  a {
    text-decoration: none;
    color: $white;

    &:link,
    &:visited,
    &:hover,
    &:active {
      color: $white;
    }
  }

  .logo {
    width: 50%;
    position: absolute;
    right: 0;
  }

  h1 {
    font-family: "ヒラギノ明朝 ProN W6", "HiraMinProN-W6", "HG明朝E", "ＭＳ Ｐ明朝", "MS PMincho", "MS 明朝", serif;
    font-weight: bold;
    margin: 10px auto;
  }
}

footer {
  bottom: 0;
  position: relative;
  height: $footer-height;
  line-height: $footer-height;
  text-align: center;

  a {
    color: $white;
    text-decoration: none;
    font-weight: bold;

    &:link,
    &:visited,
    &:hover,
    &:active {
      color: $white;
      text-decoration: none;
    }
  }
}

main {
  margin-top: $header-height;
  margin-bottom: $footer-height;
  min-height: 100%;

  &:after {
    content: "";
    display: block;
    height: $footer-height;
  }
}

li { list-style: none; }

.navbar .nav {
  margin: 0;
  display: table;
  width: 100%;
  li {
    display: table-cell;
    float: none;

    a { text-align: center; }
  }
}
