.main-img {
  text-align: center;
  margin-bottom: 20px;
  width: 100%;
}

.sns-buttons {
  margin: 10px;

  li {
    margin: 10px;

    /* .btn-facebook { @include button-variant($white, $facebook-official, transparent); } */
    /* .btn-twitter { @include button-variant($white, $twitter-official, transparent); } */
    /* .btn-blog { @include button-variant($white, $blog-official, transparent); } */
    .btn-facebook { @include btn-original($facebook-official); }
    .btn-twitter { @include btn-original($twitter-official); }
    .btn-blog { @include btn-original($blog-official); }
  }
}

.actimes,
.links {
  text-align: center;

  a { text-decoration: none; }
}

.card {
  border: solid 1px $card-border-color;
  border-radius: $card-border-radius;

  .department-detail,
  .character-detail {
    margin: 2% auto;
  }

  .department-img,
  .character-img {
    @include border-left-radius(8px);
    padding-left: 0;
    margin: 2% auto;
  }

  .department-img-even {
    @include border-right-radius(8px);
    padding-right: 0;
  }

  .event-name,
  .event-detail {
    margin: 2% auto;
  }

  .link-img,
  .actimes-img {
    @include border-top-radius($card-border-radius);
    @include square(100%);
    display: block;
  }

  .actimes-title {
    height: 40px;
    line-height: 40px;
  }

  a { text-decoration: none; }
}
