$nitac-official: #a14c4c;

$facebook-official: #3b5998;
$twitter-official: #55acee;
$blog: #80b522;

$white: #ffffff;

$base-bg: $white;

$navbar-default-bg: $white;
$navbar-default-border: $nitac-official;
$navbar-border-radius: 0;
$navbar-height: 30px;

$header-height: 90px;
$footer-height: 50px;
