---
title: ACTimes
---

<h2>ACTimes</h2>
<p class="text-center">説明が入ります 説明が入ります 説明が入ります 説明が入ります 説明が入ります</p>

<section>
  <h3>最新号</h3>
  <ul class="actimes text-center">
    <li><a href="#">2015年4月号 「新年度が始まりました」</a></li>
  </ul>
</section>

<section class="text-center">
  <h3>バックナンバー</h3>
  <ul class="actimes">
    <li><a href="#">2015年4月号 「新年度が始まりました」</a></li>
    <li><a href="#">2015年4月号 「新年度が始まりました」</a></li>
    <li><a href="#">2015年4月号 「新年度が始まりました」</a></li>
    <li><a href="#">2015年4月号 「新年度が始まりました」</a></li>
    <li><a href="#">2015年4月号 「新年度が始まりました」</a></li>
    <li><a href="#">2015年4月号 「新年度が始まりました」</a></li>
    <li><a href="#">2015年4月号 「新年度が始まりました」</a></li>
    <li><a href="#">2015年4月号 「新年度が始まりました」</a></li>
  </ul>
</section>
