---
title: ACTimes
---

<p>
  学生会執行部の広報局は毎月学校の広報紙・ACTimesを発行しています。
  明石高専の様々な情報を載せているので是非ご覧ください。
</p>

<hr>

<section>
  <ul class="actimes row">
    <% data.actimes.actimes.each do |actime| %>
      <li class="col-md-6">
        <a href="<%= actime[:url] %>" target="_blank">
          <div class="card actimes-card">
            <img src="../images/<%= actime[:img] %>" class="actimes-img">
            <div class="actimes-title"><%= actime[:date] %>号 「<%= actime[:title] %>」</div>
          </div>
        </a>
      </li>
    <% end %>
  </ul>
</section>
