---
title: 中学生の方へ
---

<h2>中学生の方へ</h2>
<p class="text-center">
  What’s学生会執行部?What’s学生会執行部?What’s学生会執行部?
  What’s学生会執行部?What’s学生会執行部?What’s学生会執行部?
</p>

<h3>局紹介</h3>
<p class="text-center">
  What’s学生会執行部?What’s学生会執行部?What’s学生会執行部?
</p>

<div class="department-card row">
  <img src="../images/yotsubato29.jpg" alt="" class="department-img col-md-2">
  <div class="department-detail col-md-10">
    <h4>体育</h4>
    <p>将来の日本を担う教養ある社会人、創造的技術者を目指すには多くの教養科目と専門的知識の習得、及び心身の育成が欠かせません。一般科目ではそのための幅広い分野での育成を目指しています。高校と同じような国語、地理、歴史、数学、物理、化学、体育、芸術、外国語等の科目のほか、大学と同じような哲学、法学などの科目があります。これらの科目を成長段階に応じて学習することにより学力や能力を伸ばし、更に高度な学習へと進むことができるように配慮されています。</p>
  </div>
</div>

<div class="department-card row">
  <div class="department-detail col-md-10">
    <h4>体育</h4>
    <p>将来の日本を担う教養ある社会人、創造的技術者を目指すには多くの教養科目と専門的知識の習得、及び心身の育成が欠かせません。一般科目ではそのための幅広い分野での育成を目指しています。高校と同じような国語、地理、歴史、数学、物理、化学、体育、芸術、外国語等の科目のほか、大学と同じような哲学、法学などの科目があります。これらの科目を成長段階に応じて学習することにより学力や能力を伸ばし、更に高度な学習へと進むことができるように配慮されています。</p>
  </div>
  <img src="../images/yotsubato29.jpg" alt="" class="department-img-even col-md-2">
</div>

<div class="department-card row">
  <img src="../images/yotsubato29.jpg" alt="" class="department-img col-md-2">
  <div class="department-detail col-md-10">
    <h4>体育</h4>
    <p>将来の日本を担う教養ある社会人、創造的技術者を目指すには多くの教養科目と専門的知識の習得、及び心身の育成が欠かせません。一般科目ではそのための幅広い分野での育成を目指しています。高校と同じような国語、地理、歴史、数学、物理、化学、体育、芸術、外国語等の科目のほか、大学と同じような哲学、法学などの科目があります。これらの科目を成長段階に応じて学習することにより学力や能力を伸ばし、更に高度な学習へと進むことができるように配慮されています。</p>
  </div>
</div>

<h3>執行部主催の行事</h3>

<div class="event-card row">
  <div class="col-md-12">
    <h4>部活動紹介</h4>
    <p>機械・電子システム設計開発の共通的基礎となる応用工学、機械システム技術者に必要な工学知識及び電子システム技術者に必要な工学知識を教授・研究し、機械工学と電子工学の両分野を基礎とする新しい技術分野に対応できる能力をもち、先端的な生産システムや工業製品の開発に貢献する新しい開発型人材を育てます。</p>
  </div>
</div>

<div class="event-card row">
  <div class="col-md-12">
    <h4>部活動紹介</h4>
    <p>機械・電子システム設計開発の共通的基礎となる応用工学、機械システム技術者に必要な工学知識及び電子システム技術者に必要な工学知識を教授・研究し、機械工学と電子工学の両分野を基礎とする新しい技術分野に対応できる能力をもち、先端的な生産システムや工業製品の開発に貢献する新しい開発型人材を育てます。</p>
  </div>
</div>

<div class="event-card row">
  <div class="col-md-12">
    <h4>部活動紹介</h4>
    <p>機械・電子システム設計開発の共通的基礎となる応用工学、機械システム技術者に必要な工学知識及び電子システム技術者に必要な工学知識を教授・研究し、機械工学と電子工学の両分野を基礎とする新しい技術分野に対応できる能力をもち、先端的な生産システムや工業製品の開発に貢献する新しい開発型人材を育てます。</p>
  </div>
</div>
